html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    margin: 0 auto;
    padding: 0;
    background-color: white;
    min-height: 70%;
    height: 100%;
}

.header{
    width: 100%; 
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: indigo;
    position: absolute;
    left: 0;
    top: 0;
}

.header img{
    width: 70px;
    margin-left: 125px;
    margin-top: 15px;
    float: left;
}

#logo{
    text-align: left;
    font-size: 35px;
    color: #f5deb3;
    background-color: #4b0082;
    font-family:serif;
    padding-left: 125px;
    margin: 40px 0 40px 100px;
}

.navigation{
    text-align: left;
    margin: auto;
    padding: 10px 10px 10px 115px;
    background-color: #800080;
}

.navigation li{
  display: inline;
  margin: auto;
  text-decoration: none;
}

.navigation li a{
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: auto;
    font-size: 19px;
}

.navigation li a:hover{
    color: white;
    padding: 10px 10px 10px 10px;
    margin: auto;
    background-color: indigo;
}

.about{
    font-family: Arial, Helvetica, sans-serif;
}

.apply{
    font-family: Arial, Helvetica, sans-serif;
}

.content1{
    width: 100%;
    height: auto;
    margin: 159px auto 0 auto;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}

.content2{
    width: 100%;
    height: auto;
    margin: 205px auto 0 auto;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}

.content2 .content-wrapper h2{
    text-align: center;
}

.content1 img{
    width: 100%;
}

.content-wrapper{
    width: 85%;
    height: auto;
    margin: 30px auto 30px auto;
}

.programs-content-wrapper{
    width: 85%;
    height: 2850px;
    margin: 200px auto 30px auto;
}

.programs-content-wrapper h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 223px 0 50px 0;
}

.programs-content-wrapper h2{
    font-family: Arial, Helvetica, sans-serif;
}

.faculty2{
    margin-top: 92px;
}

.sch-content-wrapper{
    width: 85%;
    height: 1550px;
    margin: 210px auto 35px 120px;
}

.sch-content-wrapper h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-bottom: 10px;
}

.wrapper1{
    font-family:Arial, Helvetica, sans-serif;
    margin: 30px 0 30px 0;
    width: 1180px;
    height: 300px;
    padding: 20px;
    background-color: white;
}

.wrapper2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px 0 50px 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    width: 1180px;
    height: 530px;
    padding: 20px;
    background-color: white;
}

.wrapper3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0 50px 0;
    border-radius: 10px;
    width: 1180px;
    height: 300px;
    padding: 20px;
    background-color: white;
}

.wrapper4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    margin: 0 0 30px 35px;
    width: 1180px;
    height: 40px;
    padding: 20px;
    background-color: white;
}

.wrapper5{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    margin: 0 0 15px 0;
    width: 1180px;
    height: 300px;
    padding: 20px 20px 20px 0;
    background-color: white;
}

.box-text-fellowship{
    width: 680px;
    float: left;
    margin-left: 20px;
}

.box-image-fellowship{
    width: 300px;
    float: left;
    margin-top: 20px;
}

.box-image-fellowship img{
    width: 280px;
    height: 280px;
}
  
.pic-box{
    width: 280px;
    height: 280px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    background: url("../img/fellowship1.jpg")
    no-repeat center center/cover;
    position: relative;
    transition: all 1s;
    z-index: 1;
    overflow: hidden;
}
  
.text-pic-box h2,
.text-pic-box p {
    color: #fff;
    opacity: 0;
    transition: all 0.6s;
}
  
.pic-box:hover .text-pic-box h2,
.pic-box:hover .text-pic-box p {
    opacity: 1;
}
  
.text-pic-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: purple;
    transform: skew(30deg) translateX(100%);
    opacity: 0.3;
    z-index: -1;
    transition: all 0.6s ease;
}

.text-pic-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: purple;
    transform: skew(-30deg) translateX(100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    opacity: 0.3;
    z-index: -1;
    transition: all 0.6s ease;
}
  
.pic-box:hover .text-pic-box::before {
    transform: skew(30deg) translateX(50%);
}
  
.pic-box:hover .text-pic-box::after {
    transform: skew(-30deg) translateX(40%);
    opacity: 0.7;
}

.pic-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: purple;
    opacity: 0.3;
    transform: skew(30deg) translateX(85%);
    transition: all 0.6s ease;
    z-index: -1;
}
  
.pic-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: purple;
    opacity: 0.3;
    transform: skew(-30deg) translateX(85%);
    transition: all 0.6s ease;
    z-index: -1;
}
  
.pic-box:hover:before {
    transform: skew(30deg) translateX(30%);
}

.pic-box:hover:after {
    transform: skew(-30deg) translateX(20%);
}

.contact-wrapper{
    font-family: Arial, Helvetica, sans-serif;
    width: 85%;
    height: 585px;
    margin: 210px auto 35px 120px;
}

.box-thx{
    width: 550px;
    float: left;
    margin-left: 30px;
    margin-right: 20px;
}

.box{
    width: 580px;
    float: left;
    margin-left: 30px;
}

.box-image{
    width: 530px;
    float: left;
    margin-left: 40px;
}

.box-image2{
    width: 530px;
    float: left;
    margin-left: 40px;
}

.content-wrapper .wrapper1 .box-image img{
    width: 450px;
}

.box-image2 img{
    width: 470px;
}

.medium-font-size{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.medium-font-size-fellowship{
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.medium-font-size-sch{
    width: 600px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer{
    background-color: indigo;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-decoration: none;
    clear: both;
}

.box1{
    width: 160px;
    height: 200px;
}

.box2{
    width: 160px;
    height: 200px;
    margin-left: 130px;
}

.box-desc{
    width: 350px;
    height: 200px;
}

.wrapper-glance{
    font-family:Arial, Helvetica, sans-serif;
    margin: 30px 0 90px 16px;
    width: 1180px;
    height: 256px;
    background-color: white;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
}
  
.flex-container > div{
    width: 255px;
    height: 255px;
    margin: 21px;
    text-align: center;
    line-height: 45px;
    background-color: #ececec;
}

.flex-container1{
    display: flex;
    flex-wrap: nowrap;
}
  
.flex-container1 > div{
    width: 200px;
    height: 90px;
    margin: 10px;
    /* border-radius: 2px; */
    text-align: center;
    line-height: 20px;
    background-color: #800080;
}

.flex-container1 .faculty{
    background-color: #a7a6a6;
}

.faculty-program-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 10px 0 0 15px;
    line-height: normal;
    color: white;
}

.program-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 10px 0 0 15px;
    line-height: normal;
    color: white;
}

.margin-glance{
    margin-top: 80px;
    margin-bottom: 0;
    color:#800080;
    font-size: 40px;
}

.text-glance{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    line-height: normal;
}

.glance{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

iframe{
    width: 165px;
    height: 165px;
}

.changing-world{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50px 0 0 16px;
    width: 1180px;
    height: 340px;
}

.changing-world h1{
    text-align: center;
}

.apply-now{
    margin-left: 465px;
    text-align: center;
    padding: 12px 80px 12px 80px;
    border-radius: 5px;
    background-color: #8d733c;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.apply-now:hover{
    background-color: #715c2d;
}

.changing-container{
    display: flex;
    flex-wrap: nowrap;
}
  
.changing-container > div{
    width: 300px;
    height: 100px;
    margin: 30px 21px 80px 21px;
    text-align: center;
    line-height: 25px;
    background-color: indigo;
    color: white;
    border-radius: 4px;
    padding-top: 10px;
}

.up-section{
    display: flex;
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    flex-wrap: wrap;
}

.up-section ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
}

.up-section h1{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.up-section ul li p{
    font-size: 16px;
    color: white;
    text-decoration: none;
    list-style: none;
}

.footer-bottom{
    margin-bottom: 15px;
    font-size: 16px;
    color: white;
    clear: both;
}

/* Form CSS */
input[type=text],input[type=password],input[type=email] , input[type=date], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
  
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit]{
    background-color: #af904c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 15px;
}

input[type=submit]:hover{
    background-color: #8d733c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
  
.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
.row:after{
    content: "";
    display: table;
    clear: both;
}
/* End of Form CSS */